h1{
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 1em;
}

a{
  color: #4444FF;
}

h1 a{
  color: black;
}

body{
  text-align: center;
}

div#main{
  display: inline-block;
  margin: 0 auto;
  padding: 0.2em;
  padding-top: 1em;
  text-align: left;
}

div#problem{
  margin-top: 1em;
}

table{
  line-height: 2;
}

span.label-ac{
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #5cb85c;
}

span.label-mod {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: orange;
}

span.label-wa {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #d9534f;
}

span.label-non{
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #eee;
}

span.label-blank{
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #fff;
}

.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[type=text]:focus {
	border-color: #da3c41;
}
.cp_iptxt input[type=text] {
	padding-left: 40px;
}
.cp_iptxt i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt input[type=text]:focus + i {
	color: #da3c41;
}

/* KOGI */

